* {
    font-family: Andale Mono, monospace;
}

:root {
    --yt: rgb(223, 235, 241);
    --grey: rgb(38, 39, 40);
    --dark-grey: rgb(28, 29, 30);
    --peach: rgb(230, 64, 71);
    --dark-peach: rgb(190, 24, 31);
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    background-color: var(--grey);
    color: var(--yt);
}

/* -----main page----- */

.index-main {
    background-image: url("images/portrait.png");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.panel-info {
    margin: 60px 100px 0;
    padding: 20px;
    width: 500px;
    height: 250px;
    background-color: var(--peach);
    box-shadow: 20px 20px var(--dark-peach);
}

.panel-info p {
    font-style: italic;
}

.panel-button {
    margin: 40px 120px 20px;
    width: 520px;
    text-align: center;
}

.button {
    padding: 15px 20px;
    font-size: 14px;
    color: var(--yt);
    border: solid 1px var(--yt);
    border-radius: 50px;
    background-color: transparent;
}

.button:hover {
    color: var(--grey);
    background-color: var(--yt);
    cursor: pointer;
}

/* -----about------ */

.about-main {
    margin: 20px 100px;
}

/* -----portfolio----- */

#portfolio__heading {
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.my-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.my-projects div {
    margin: 8px;
    font-size: 14px;
    padding: 48px;
    background-color: var(--dark-grey);
}

.my-projects > div:nth-child(even) {
    font-style: italic;
}

.my-projects div a {
    color: var(--peach);
    text-decoration: underline;
}

.my-projects div a:hover {
    color: var(--yt);
    text-decoration: underline;
}

/* -----nav----- */

header {
    width: 100%;
    font-size: 14px;
}

nav ul {
    display: flex;
    background-color: var(--dark-grey);
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 20px;
}

nav ul li a {
    color: var(--yt);
    padding: 0 5vw;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--peach);
    text-decoration: underline;
}

.active {
    color: var(--peach);
}

/* -----footer----- */

footer {
    border-top: solid var(--yt) 0.5px;
    font-size: 14px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
}

footer div {
    margin: auto;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 15px;
}

footer li {
    margin: 0 10px 0 0;
}

footer i {
    font-size: initial;
}

footer a {
    color: var(--yt);
    text-decoration: none;
}

footer a:hover {
    color: rgb(67, 135, 228);
}

/* -----@media----- */

@media (max-width: 1000px) {
    .index-main {
        background-image: none;
    }

    .my-projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-height: 600px) {
    .index-main {
        background-image: none;
    }
}

@media (max-width: 800px) {
    footer {
        display: block;
    }
}

@media (max-width: 500px) {
    .my-projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

