* {
    font-family: Andale Mono, monospace;
}

:root {
    --yt: rgb(223, 235, 241);
    --grey: rgb(38, 39, 40);
    --dark-grey: rgb(28, 29, 30);
    --peach: rgb(230, 64, 71);
    --dark-peach: rgb(190, 24, 31);
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    background-color: var(--grey);
    color: var(--yt);
}

/* -----main page----- */

.index-main {
    background-image: url("images/portrait.png");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.panel-info {
    position: relative;
    margin: 40px 140px;
    width: 600px;
    height: 200px;
    background-color: var(--peach);
    box-shadow: 15px 15px var(--dark-peach);
}

.name {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.profession {
    position: absolute;
    top: 0;
    left: 20px;
}

.panel-button {
    margin: 40px 140px 20px;
    width: 600px;
    text-align: center;
}

.panel-button button {
    padding: 15px 20px;
    font-size: 14px;
    color: var(--yt);
    border: solid 1px var(--yt);
    border-radius: 50px;
    background-color: transparent;
}

.button:hover {
    color: var(--grey);
    background-color: var(--yt);
    cursor: pointer;
}

/* -----about------ */

.about-main {
    margin: 0 100px;
}

.about-main div {
    margin: 40px 40px;
}

/* -----to-do----- */

#todo-main {
    margin: 0 100px;
}

#todo-list {
    margin: 40px 40px;
}

#todo-list .input-bar {
    display: flex;
    border-bottom: solid 1px var(--yt);
    padding: 0 30px 10px;
}

#todo-list input {
    font-size: 18px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--yt);
    outline: none;
    border: none;
    background: none;
}

#todo-list button {
    font-size: 18px;
    padding: 0 15px 0 0;
    margin: 0;
    outline: none;
    border: none;
    color: var(--yt);
    background: none;
}

#todo-list button span {
    font-size: 18px;
}

#todo-list button:hover {
    cursor: pointer;
}

#todo-list ul {
    margin: 0;
    padding: 0;
}

#todo-list ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
    margin: 15px 0;
    border: solid 1px var(--yt);
    border-radius: 10px;
    cursor: pointer;
}

#todo-list ul li.crossed {
    text-decoration: line-through;
}

#todo-list ul li span {
    font-size: 18px;
}

/* -----portfolio----- */

#portfolio__heading {
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.my-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.my-projects div {
    margin: 8px;
    font-size: 14px;
    padding: 48px;
    background-color: var(--dark-grey);
}

.my-projects > div:nth-child(even) {
    font-style: italic;
}

.my-projects div a {
    color: var(--peach);
    text-decoration: underline;
}

.my-projects div a:hover {
    color: var(--yt);
    text-decoration: underline;
}

/* -----nav----- */

header {
    width: 100%;
    font-size: 14px;
}

nav ul {
    display: flex;
    background-color: var(--dark-grey);
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 20px;
}

nav ul li a {
    color: var(--yt);
    padding: 0 5vw;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--peach);
    text-decoration: underline;
}

.active {
    color: var(--peach);
}

/* -----footer----- */

footer {
    border-top: solid var(--yt) 0.5px;
    font-size: 14px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


footer ul {
    display: flex;
    margin: 20px 0;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
}

footer li {
    line-height: 11px;
    padding: 0 12px;
    border-right: solid var(--yt) 0.5px;
    border-left: solid var(--yt) 0.5px;
}

footer li:last-child {
    padding-right: 0;
    border-right: none;
}

footer li:first-child {
    padding-left: 0;
    border-left: none;
}

footer a {
    color: var(--yt);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* -----@media----- */

@media (max-width: 1000px) {
    .index-main {
        background-image: none;
    }

    .my-projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-height: 600px) {
    .index-main {
        background-image: none;
    }
}

@media (max-width: 800px) {
    footer {
        display: block;
    }
}

@media (max-width: 500px) {
    .my-projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

