* {
    font-family: Andale Mono, monospace;
}

body {
    background-color: rgb(38, 39, 40);
    color: rgb(223, 235, 241);
}

/* -----main page----- */

.index-main {
    font-size: 19px;
}

.panel {
    position: relative;
}

.text-panel > div {
    margin-bottom: 40px;
}

.text-panel > div > p {
    font-style: italic;
}

.text-panel > div > h1, .index-main > div > h3 {
    margin-top: 0;
}

.text-panel {
    position: absolute;
    top: 10vw;
    left: 10vw;
    margin-left: 3vw;
    z-index: 1;
}

.overlay-square {
    position: absolute;
    top: 9vw;
    left: 10vw;
    width: 600px;
    height: 300px;
    background-color: rgb(230, 64, 71);
    z-index: -1;
}

.background-square {
    position: absolute;
    top: 11vw;
    left: 12vw;
    width: 600px;
    height: 300px;
    background-color: rgb(190, 24, 31);
    z-index: -2;
}

/* -----portfolio----- */

#portfolio__heading {
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

.my-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.my-projects div {
    margin: 8px;
    font-size: 14px;
    padding: 48px;
    background-color: rgb(28, 29, 30);
}

.my-projects > div:nth-child(even) {
    font-style: italic;
}

.my-projects div a {
    color: rgb(230, 64, 71);
    text-decoration: underline;
}

.my-projects div a:hover {
    color: rgb(223, 235, 241);
    text-decoration: underline;
}

/* -----footer----- */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer__links {
    display: flex;
    justify-content: center;
}

.footer__links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__links > ul > li {
    display: inline;
    margin: 0 10px;
}

/* -----links----- */

a {
    color: rgb(223, 235, 241);
    text-decoration: none;
}

a:hover {
    color: rgb(67, 135, 228);
}

/* ---------------- */

nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* -----photo----- */

.index-body {
    height: 100vh;
    background-image: url("images/portrait.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

@media (max-width: 768px) {
    .index-body {
        background-image: none;
    }

    .my-projects {
        grid-template-columns: repeat(2, 1fr);
    }
}
